<% if logged_in? %>

  <div class="ride_list">

    <a href="/profile">
      <div id="profile-icon">
        <img src="/images/icons/profile.png" alt="">
      </div>
    </a>

    <div class="welcome_user">
      <h1>Hi <%= current_user.first_name %>,</h1>
      <div id="button_center">
        <form action="/ride/create" method="get">
          <button class="index-btn" id="pink-btn">Hitch a Ride</button>
        </form>
        <form action="/driver_dashboard" method="get">
          <button class="index-btn">Driver Dashboard</button>
        </form>
      </div>
    </div>

    <% @rides.each do |ride| %>
      <div class="ride_holder">
        <a href="/ride/<%= ride['id'] %>" id="list-link">
          <p>
            <% user_name = User.find_by(id: ride.creator_id)%>
            <%= user_name.first_name %> needs to hitch a ride
          </p>
          <div class="ride_info">
            <div class="origin_holder">
              <p>from</p>
              <p><span id="origin_span">
                <% origin_arr = ride['origin'].split(//) %>
                <% origin_short = origin_arr.shift(3) %>
                <%= origin_short.join('').upcase %>
              </span></p>
              <p><%= ride['origin'] %></p>
            </div>
            <div class="transfer_icon_holder">
              <img src="/images/icons/travel-arrow.png" alt="">
            </div>
            <div class="destination_holder">
              <p>to</p>
              <p><span id="destination_span">
                <% destination_arr = ride['destination'].split(//) %>
                <% destination_short = destination_arr.shift(3) %>
                <%= destination_short.join('').upcase %>
              </span></p>
              <p><%= ride['destination'] %></p>
            </div>
            <div class="remaining_info">
              <p><span class="extra_info_bold">Date: </span> <%= ride['when_date'] %></p>
              <p><span class="extra_info_bold">Time: </span> <%= ride['when_time'] %></p>
              <p><span class="extra_info_bold">Offer: </span> $<%= ride['price_ask'] %></p>
            </div>
          </div>
          <div id="map-comingsoon">

          </div>
        </a>
      </div>
    <% end %>
  </div>

<% end %>

<% if !logged_in? %>

  <div id="background-video">

    <video playsinline autoplay muted loop id="bgvid">
      <source src="/video/sky_diving_car_2.mp4" type="video/mp4">
    </video>

    <div id="overlay">
      <div id="login_welcome">
        <img src="/images/logo.png" alt="" id="icon">
        <div id="underlay">
          <form action="/login" method="post">
            <div class="login-input-holder">
              <input type="email" name="email" placeholder="Enter your email">
            </div>
            <div class="login-input-holder">
              <input type="password" name="password" placeholder="Enter password">
            </div>
            <button id="signin_btn">Login</button>
          </form>
        </div>
      </div>
      <div id="welcome_extra">
        <form action="" method="get">
          <button>Facebook Login</button>
        </form>
        <form action="/signup" method="get">
          <button>Signup</button>
        </form>
      </div>
    </div>
  </div>

<% end %>
