<div class="navigation">

  <button class="nav-btns" id="back-button-nav">
    <img src="/images/back-icon.png" alt="">
  </button>

</div>

<div class="page_holder">

  <h3>View your Stats</h3>
  <h1>Driver Dashboard</h1>

  <div class="item_holder" id="profile_driver">
    <p>Driver</p>
    <div class="item_panel">
      <div class="driver_circles">
        <p><span class="label">Rating: </span><br><%= @user_profile['review_outof_five'] %></p>
      </div>
      <div class="driver_circles" id="blue_circle">
        <p><span class="label">Car Plate: </span><%= @user_profile['car_plate'] %></p>
      </div>
      <div class="driver_circles" id="orange_circle">
        <p><span class="label">Location: </span><%= @user_profile['location'] %></p>
      </div>
      <div class="driver_info_left">
        <h3>Car Details</h3>
        <p><span class="label">Brand: </span><%= @user_profile['car_brand'] %></p>
        <p><span class="label">Model: </span><%= @user_profile['car_model'] %></p>
        <p><span class="label">Year: </span><%= @user_profile['car_year'] %></p>
        <p><span class="label">Color: </span><%= @user_profile['car_colour'] %></p>
      </div>
    </div>

    <div class="driver_info_right">
      <img src="/images/icons/driver_car_icon.png" alt="">
    </div>

  </div>
  
</div>

<script src="/javascripts/nav-buttons.js"></script>
